body{
    width: 100%;
    background-color: #F2F2F2;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #F2F2F2;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#language{
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
    background-color: #F2F2F2;
}

/* language list item mod */
#language li{
    list-style: none;
    padding: 0 5px;
    position: relative;
}

/* language list item anchor tag mod */
#language li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #644F9C;
    transition: 0.3s ease;
}

/* language list item anchor tag hover */
#language li a:hover{
    color: #FF6F00;
}

/* hover underline effect */
#language li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #FF6F00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navber{
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
    background-color: #F2F2F2;
}

/* navbae list item mod */
#navber li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* navbar list item anchor tag mod */
#navber li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #644F9C;
    transition: 0.3s ease;
}

/* navbar list item anchor tag hover */
#navber li a:hover{
    color: #FF6F00;
}

/* hover underline effect */
#navber li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #FF6F00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #F2F2F2;
}

#hero h1{
    color: #644F9C;
}

.title h1{
    color: #644F9C;
    text-align: center;
}

/* feature */
#feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#feature .fbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fbox-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#feature .feature-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid #cce7d0;
    border-radius: 100px;
    margin: 15px 15px;
    color: #644F9C;
}